
<div class="container">
    <h1>New Expense</h1>
    <hr>
    <div class="col=md=6">
        
        <form [formGroup]="newExpenseForm" (ngSubmit)="saveExpense(newExpenseForm.value)" autocomplete="off">
            <div class="form-group">
                <label for="expenseDescription">Descritpion:</label>
                <em *ngIf="description.invalid && description.dirty && description?.errors?.required" class="text-danger">Required</em>
                <em *ngIf="description.invalid && description.dirty && description?.errors?.maxlength" class="text-danger">Cannot exceed 100 characters</em>
                <input formControlName="description" id="expenseDescription" type="text" class="form-control" [ngClass]="{'is-invalid': description.invalid && description.dirty}" placeholder="Description..">
            </div>
            <div class="form-group">
                <label for="expenseDate">Date:</label>
                <em *ngIf="date.invalid && date.dirty" class="text-danger">Required</em>
                <input formControlName="date" id="expenseDate" type="date" class="form-control" [ngClass]="{'is-invalid': date.invalid && date.dirty}">
            </div>
            <div class="form-group">
                <label for="expenseValue">Value:</label>
                <em *ngIf="value.invalid && value.dirty && value?.errors?.required" class="text-danger">Required</em>
                <em *ngIf="value.invalid && value.dirty && !(value?.errors?.required)" class="text-danger">Invalid number(only positive and max 2 decimal places)</em>
                <input formControlName="value" id="expenseValue" type="number" class="form-control" [ngClass]="{'is-invalid': value.invalid && value.dirty}" placeholder="Value">
            </div>
            <div class="form-group">
                <label for="expenseCategory">Category:</label>
                <em *ngIf="category.invalid && category.dirty" class="text-danger">Required</em>
                <select formControlName="category"  id="expenseCategory" class="form-control" [ngClass]="{'is-invalid': category.invalid && category.dirty}">
                    <option [ngValue]="null">select category...</option>
                    <option *ngFor="let category of categories" [ngValue]="category">{{category | category}}</option>
                </select>
            </div>

            <br>
            <button type="submit" [disabled]="newExpenseForm.invalid" class="btn btn-outline-primary">Save</button>
            <button type="button" class="btn btn-outline-secondary" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>